ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(40, 49, 61);
  font-size: 150%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:rgb(39, 61, 55);
}
li a:active {
  background-color: rgb(46, 80, 71);
}
.selected {
  background-color: rgb(20, 71, 62);
}
.side-selected {
  background-color: rgb(27, 90, 79);
}
/* ^ is menu */
#title {
  background-color: teal;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  color:white;
  padding: 100px;
  font-size: 500%;
  margin:0;
  }
  html{
      background-color: rgb(183, 218, 201);
      color: white;
  }
  #name_credit {
    background-color: rgb(18, 168, 168);
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    font-size: 175%;
    padding: 20px;
    line-height: 0.5;
    margin: 0;
  }
#home-menu {
  font-weight: bold;
}
#sub-title {
    background-color:rgb(233, 233, 233);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(2, 110, 110);
    margin: 0;
    line-height: 0.2;
    font-size: 175%;
}
.pages {
  font-size: 75%;
}
.main-pages {
  font-size: 90%;
}
.intro {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  font-size: 250%;
  background-color: rgb(87, 163, 163);
  padding: 20px;
  padding-right: 22px;
  padding-bottom: 3px;
  margin-bottom: 0;
  margin-left: 4%;
  width: 49%;
}
.intro-para {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: rgb(87, 163, 163);
  margin:0;
  margin-left: 4%;
  padding: 12px;
  padding-left: 15px;
  padding-bottom: 30px;
  font-size: 140%;
  width: 50%;
}
.cool-gif {
  float: right;
  position: relative;
  margin-top: -20%;
  margin-right: 2%;
  width: 180px;

}
#email {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(129, 194, 194);
  padding: 5px;
  padding-top: 5px;
  margin-bottom: 0;
  text-align: center;
}
.mini-head {
  font-family: 'Courier New', Courier, monospace;
  font-size: 150%;
  background-color: rgb(76, 133, 146);
  color: white;
  text-align: center;
  padding: 2%;
  margin: 1%;
}
.list-transition {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  background-color:rgb(112, 161, 161);
  text-align: center;
  padding: 1%;
  margin: 2%;
  font-size: 35px;
  width: 60%;
}
.list-three {
  background-color: rgb(119, 156, 150);
  padding: 1%;
  width: 60%;
  margin-left: 1%;
  text-align: center;
}
.intro-stuff {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
  background-color: rgb(112, 161, 161);
  font-size: 140%;
  width: 97%;
  padding: 1%;
  margin: 4px;
  margin-bottom: 7px;
}
.list-backup {
  background-color: rgb(84, 122, 131);
  font-size: 130%;
  padding-top: 3px;
  padding-left: 15px;
  padding-bottom: 57px;
  padding-right: 4px;
  margin-top: 8px;
  width: 70%;
}
.three-li {
  font-size: 125%;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 3%;
  text-decoration: none;
  font-weight: bold;
  color: rgb(2, 110, 110);
}
#backup-img {
  width: 25%;
  position: relative;
  margin-right: 3%;
  margin-top: -17%;
  float: right;
}
#cassette-img {
  width: 26%;
  float: right;
  position: relative;
  margin-right: 3%;
  margin-top: -12%;
}
.vocab {
  background-color: rgb(112, 161, 161);
  font-size: 140%;
  padding: 6px;
  width: 20%;
  text-align: center;
  float: right;
  margin-right: 42px;
  margin-top: -33%;
}
.network-img {
  width: 26%;
  float: right;
  margin-top: -8%;
  margin-right: 5%;
}
table, th, td {
  border:1px solid rgb(24, 45, 48);
  color: rgb(38, 44, 71);
  margin-block: 2%;
  width: 32%;
  margin-top: -8%;
  margin-left: 68%;
}
.something {
  background-color: rgb(106, 142, 150);
  font-size: 120%;
  font-family: 'Courier New', Courier, monospace;
  width: 70%;
  padding: 1%;
  margin: 0;
  margin-top: 0%;
}
.else {
  background-color: rgb(106, 142, 150);
  font-size: 120%;
  font-family: 'Courier New', Courier, monospace;
  width: 63%;
  padding: 1%;
  margin: 0;
}
.files {
  background-color: rgb(86, 121, 121);
  font-size: 140%;
  width: 39%;
  padding: 20px;
  margin-top: 4%;
}
#file-img {
  width: 400px;
  margin-left: 100px;
}
#ex-img {
  width: 52%;
  float: right;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-top: -17%;
}
#bytes-table {
  width: 70%;
  margin-left: 15%;
  margin-top: 2%;
  font-size: 140%;
}
.three-exp {
  background-color: rgb(98, 136, 136);
  font-size: 140%;
  width:45%;
  padding: 9px;
  margin-bottom: 0%;
}
.list-three {
  width: 43%;
  list-style-type: square;
  margin-left: 0%;
  padding: 22px;
  font-size: 120%;
  text-align: left;
}
.list-tran {
  background-color: rgb(119, 156, 150);
  font-size: 140%;
  width: 46%;
  padding-top: 5px;
  margin: 0%;
  text-align: center;
  font-weight: bold;
}
#hard-drive-vid {
  float: right;
  margin-top: -180%;
  margin-right: 3%;
}
#magnetic-tape {
  width: 30%;
  margin: 1%;
  float: right;
  margin-top: -50%;
  margin-right: 15%;
}
.label-two {
  font-size: 200%;
  color: rgb(28, 68, 73);
  font-family: 'Courier New', Courier, monospace;
  float: right;
  margin-top: -22%;
  margin-right: 15%;
  font-weight: bold;
}
#portable {
  width: 30%;
  margin: 1%;
  float: right;
  margin-top: -120%;
  margin-right: 20%;
}
.label-three {
  font-size: 200%;
  color: rgb(28, 68, 73);
  font-family: 'Courier New', Courier, monospace;
  float: right;
  margin-top: -90%;
  margin-right: 15%;
  font-weight: bold;
}
.disk-exp {
  font-size: 120%;
  background-color: rgb(86, 121, 121);
  width: 45%;
  padding: 1%;
  padding-top: 7px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
}
.r {
  float: right;
  margin-top: -10%;
  margin-right: 1%;
}
#dvd {
  width: 15%;
  float: right;
  margin-top: -25%;
  margin-right: -40%;
}
#cd {
  width: 15%;
  float: right;
  margin-top: -40%;
  margin-right: -15%;
}
#example-file {
  width: 57%;
  float: right;
  font-size: 120%;
  background-color: rgb(119, 156, 150);
  padding-top: 16%;
  margin-top: -23%;
  padding-left: 1%;
}
.exp {
  margin-top: -30%;
}
.table-exp {
 margin-left: -1%;
 padding: 1%;
 width: 90%;
 table-layout: fixed;
}
.colour-row-one {
  background: rgb(121, 176, 185);
  margin-top: -1%;
}
.colour-row-two {
  background: rgb(121, 185, 171);
  margin-top: -1%;
}
.r-one {
  float: right;
  margin-top: -25%;
  margin-right: 1%;
}
.r-two {
  float: right;
  margin-top: -36%;
  margin-right: 1%;
}
#cd-gif {
  float: right;
  margin-top: -30%;
  margin-right: 10%;
}
.coming-soon-sign {
  font-size: 300%;
  background-color: rgb(121, 176, 185);
  padding: 4%;
  text-align: center;
  font-weight: bold;
}
.typing-gif {
  float: right;
  margin-top: -250px;
  margin-right: 5%;
  width: 22%;
}
.coming-soon-one {
  font-size: 500%;
  background-color: rgb(87, 163, 163);
  width: 60%;
  padding: 3%;
  text-align: center;
  margin-left: 1%;
  margin-top: -1px;
}
#vid {
  float: right;
  margin-top: -28%;
  margin-right: 7%;
}
.table-three {
  margin-top: -30%;
}